html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
html {
    /* Establece la imagen de fondo */
    background-image: url(https://j.gifs.com/yNzWNJ.gif);

    /* Ajusta el tamaño y la posición de la imagen de fondo */
    background-size: cover;
    background-position: center;
    
    /* Establece un color de fondo de respaldo */
    background-color: #f8f9fa; /* Cambia esto según tus preferencias */
}
